* {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
  font-family: 'Patrick Hand', cursive;
}
.mainContent {
  display: grid;
  grid-template-columns: 30% auto 30%;
  height: 100vh;
}
/* Colum 1 */
#cookie {
  padding-top: 100px;
}

#img_cookie {
  width: 50%;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

#img_cookie:hover {
  transform: scale(1.05);
}
#img_cookie:active {
  transform: scale(1.01);
}

.parSec {
  margin-top: 40px;
}

.parSec p {
  font-size: 2em;
}

/* Column 2  */
#row-2 {
  grid-column: 1;
  background-color: #b48745;
  text-align: center;
}

#row-1 {
  grid-column: 2;
  background-color: #f5c99b;
  text-align: center;
  justify-content: center;
}

#compteur {
  border: 2px solid #b48745;
  border-radius: 5px;
  background: #f5c99b;
  width: 300px;
  height: 30px;
  margin: auto;
  font-size: 1.5em;
}

/* Column 3 */
#row-3 {
  grid-column: 3;
  background-color: #c3964e;
  text-align: center;
}

.nav {
  height: 6rem;
  background-color: #603313;
}
/* Change button img */
.img_update {
  width: 15%;
}

#upgrade {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.upgrade_wrapper {
  display: block;
  width: 100%;
}

.upgrade_wrapper div {
  display: inline-block;
}

.upgrade_button-cursor {
  background: rgb(61, 153, 92);
  background-image: url('../img/upgrade1.png');
}

.upgrade_button-grandma {
  background: rgb(61, 104, 153);
  background-image: url('../img/upgrade1.png');
}

.upgrade_button-farms {
  background: rgb(145, 85, 57);
  background-image: url('../img/upgrade1.png');
}

.upgrade_button {
  border: rgb(104, 55, 10) 3px solid;
  width: 50px;
  height: 50px;
  display: block;
  padding: 0;
  background-size: 50px 50px;
  cursor: pointer;
}

/* Store items */
#purchase {
  overflow-y: scroll;
  position: relative;
  height: calc(100vh - 6rem);
}

#purchase div {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#purchase div:nth-child(odd) {
  background-color: rgba(112, 84, 54, 0.479);
}
#purchase div:nth-child(even) {
  background-color: #f5ca9b71;
}
