* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: rgb(88, 88, 88);
}

body {
  cursor: url("../img/pointer.svg");
}
.mainContent {
  display: grid;
  grid-template-columns: 30% auto 30%;
  height: 100vh;
}
/* Colum 1 */
#cookie {
  padding-top: 100px;
}

#img_cookie {
  width: 50%;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

#img_cookie:hover {
  transform: scale(1.05);
}
#img_cookie:active {
  transform: scale(1.01);
}

.parSec {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.parSec p {
  font-size: 2em;
}

/* Column 2  */
#row-2 {
  grid-column: 1;
  background-color: rgb(252, 238, 227);
  text-align: center;
}

#row-1 {
  grid-column: 2;
  background-color: rgb(252, 238, 227);
  text-align: center;
  justify-content: center;
}

#compteur {
  border-radius: 5px;
  background: rgb(238, 218, 204);
  text-align: center;
  width: 250px;
  margin: auto;
  padding: 4px 8px 4px 8px;
  font-size: 1.5em;
}

/* Column 3 */
#row-3 {
  grid-column: 3;
  background-color: rgb(252, 238, 227);
  text-align: center;
}

/* Header  */
.nav {
  height: 3rem;
  padding: 16px 0px 16px 0px;
  background-color: rgb(252, 238, 227);
}

/* Change button img */
.img_update {
  width: 15%;
}

.img_settings {
  width : 25%;
  cursor: pointer;
} 

#upgrade {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  height: calc(100vh - 6rem);
  cursor: pointer;
}

.titre {
  padding-bottom: 8px;
  font-weight: 300;
  font-size: 20px;
}

/* Upgrades */

.upgrade_button {
  margin: 16px 16px 16px 0px;
}

.upgrades {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(238, 218, 204);
}

.img_upgrades {
  width: 80px;
}

/* Store items */
#purchase {
  overflow-y: scroll;
  position: relative;
  height: calc(100vh - 6rem);
}

#purchase div {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#purchase div:nth-child(odd) {
  background-color: rgb(238, 218, 204);
}
#purchase div:nth-child(even) {
  background-color: rgb(252, 238, 227);
}

#upgrade > div:nth-child(odd) {
  background-color: rgb(238, 218, 204);
}

#upgrade > div:nth-child(even) {
  background-color: rgb(252, 238, 227);
}

.